/* 로그인 테이블 */
table {
    width: 520px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0.8px solid  #e2e2e2;
    border-collapse: collapse;
    
  }
  th, td {
    margin-top: 30px;
    border: 0.8px solid  #e2e2e2;
    padding: 10px;
  }
  input{
    width: 520px;
  }
  .product_add_title{
    font-family: 'NanumSquare', sans-serif !important;
    font-size: 22px;
  }
  .product_add_desc{
    font-family: 'NanumSquare', sans-serif !important;
    font-size: 15px;
  }
  button{
    width: 468px;
    height: 45px;
    border:0;
    outline: 0;
    color:white;
    cursor: pointer;
    
}