/* 기본색 : #00913a */
/* font-family: 'Apple SD Gothic Neo','Malgun Gothic',arial,sans-serif; */
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* font-family: 'Nanum Gothic', sans-serif; */

/* main */
.main{
    
}
/* 상단 이미지 로고 */
.mainLogo{
    width : 115px;
    height: 32px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}

/* 로그인 nav */
.joinNav, .loginNav, .cartNav{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color:rgb(77, 77, 77);
    text-align: right;
    margin-top: 0px;
    padding-right: 15px;
}
.searchimg{
    width: 18px;
    height: 18px;
}
.navMain{
    margin-top: -30px;
    margin-right: 30px;
    float: right;
}
/* 메뉴 nav */
.nav1, .nav2, .nav3, .nav4, .nav5{
    font-family: 'Apple SD Gothic Neo','Malgun Gothic',arial,sans-serif; 
    font-size: 17px;
    font-weight: bold;
    color: #00913a;
    text-align: center;
    margin-left: 15px;
}
nav{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.mainNav{
    margin-top: 20px;
    
}
/* 배너 */
.bn01_txt01_h{
    position: absolute;
    font-family: 'Apple SD Gothic Neo','Malgun Gothic',arial,sans-serif; 
    font-size: 36px;
    font-weight: bold;
    color: rgb(48, 183, 86);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -100%);
    text-align: left;
}
.bn01_txt01_m{
    position: absolute;
    font-family: 'Apple SD Gothic Neo','Malgun Gothic',arial,sans-serif; 
    font-size: 26px;
    font-weight: bold;
    color: rgb(48, 183, 86);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-192%, 130%);
}
.bn02_txt01_h{
    position: absolute;
    font-family: 'Apple SD Gothic Neo','Malgun Gothic',arial,sans-serif; 
    font-size: 36px;
    font-weight: bold;
    color: black;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-220%, -65%);
    text-align: left;
}
.bn02_txt01_m{
    position: absolute;
    font-family: 'Apple SD Gothic Neo','Malgun Gothic',arial,sans-serif; 
    font-size: 26px;
    font-weight: bold;
    color: black;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-345%, 250%);
}
.bn03_txt01_h{
    position: absolute;
    font-family: 'Apple SD Gothic Neo','Malgun Gothic',arial,sans-serif; 
    font-size: 36px;
    font-weight: bold;
    color: black;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-170%, -80%);
    text-align: left;
}
.bn03_txt01_m{
    position: absolute;
    font-family: 'Apple SD Gothic Neo','Malgun Gothic',arial,sans-serif; 
    font-size: 26px;
    font-weight: bold;
    color: black;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-175%, 120%);
}
/* new arrivals */
.newarrivals{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #656565;
    margin-left: 105px;
    margin-top: 100px;
}
.new{
    margin-top: 100px;
}

/* 배너 */
.slick-prev {
    font-size: 0;
    position: absolute;
    bottom: 20px;
    color: #00913a;
    border: 0;
    background: none;
    z-index: 1;
     top: 20px;
     cursor: pointer;
     background-image: url('img/left_01.png');
     background-size : cover ;
}
.slick-next {
    font-size: 0;
    position: absolute;
    bottom: 20px;
    color: #00913a;
    border: 0;
    background: none;
    z-index: 1;
     top: 20px;
     cursor: pointer;
     background-image: url('img/right_01.png');
     background-size : cover ;
}
 
.slick-prev {
    left: 20px;
    text-align: left;
}
 
.slick-prev:after {
    content: "<";
    font: 35px/1 'Nanum Gothic', sans-serif;
    font-weight: bold;
    padding-left: 35px;
}
 
.slick-next {
    right: 20px;
    text-align: right;
}
 
.slick-next:after {
    content: ">";
     font: 35px/1 'Nanum Gothic', sans-serif;
     font-weight: bold;
     padding-right: 35px;
}
 
.slick-prev:hover:after,
.slick-next:hover:after {
    color: #7e7e7e;
}

/* footer */
.mfoot_1{
    margin-top: 50px;
    margin-left: 100px;
}
.mfoot_2{
    margin-top: -125px;
    margin-left: 700px;
}
.mfoot_3{
    margin-top: -125px;
    float: right;
    margin-right: 100px;
}